# Table of contents

## 01 Importing libraries

## 02 Importing data

## 03 Exploring imported data

## 04 Merging data

## 05 Exporting data

# 01 Importing libraries

In [1]:
# Importing pandas, NumPy and os
import pandas as pd
import numpy as np
import os

# 02 Importing data

In [2]:
# Defining path variable
path = r'/Users/DanielaDietmayr/Library/CloudStorage/OneDrive-Personal/2023-01-18 Instacart basket analysis'

In [3]:
# Importing data
df_deps = pd.read_csv(os.path.join(path, '02 Data', '02 Prepared data', 'departments_wrangled.csv'), index_col=False)
df_prods = pd.read_csv(os.path.join(path, '02 Data', '02 Prepared data', 'products_checked.csv'), index_col=False)
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', '02 Prepared data', 'orders_products_combined.pkl'))

# 03 Exploring imported data

In [4]:
# Printing df_deps
df_deps

    Unnamed: 0       department
0            1           frozen
1            2            other
2            3           bakery
3            4          produce
4            5          alcohol
5            6    international
6            7        beverages
7            8             pets
8            9  dry goods pasta
9           10             bulk
10          11    personal care
11          12     meat seafood
12          13           pantry
13          14        breakfast
14          15     canned goods
15          16       dairy eggs
16          17        household
17          18           babies
18          19           snacks
19          20             deli
20          21          missing

In [5]:
# Exploring dimensions of df_deps
df_deps.shape

(21, 2)

In [6]:
# Exploring top 5 rows of df_prods
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [7]:
# Exploring dimensions of df_prods
df_prods.shape

(49672, 5)

In [8]:
# Exploring top 5 rows of df_orders_products_combined
df_orders_products_combined.head()

,order_id,user_id,order_sequence_per_user,order_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,0.0,196,1,0,both
1,2539329,1,1,2,8,0.0,14084,2,0,both
2,2539329,1,1,2,8,0.0,12427,3,0,both
3,2539329,1,1,2,8,0.0,26088,4,0,both
4,2539329,1,1,2,8,0.0,26405,5,0,both

In [9]:
# Exploring dimensions of df_orders_products_combined
df_orders_products_combined.shape

(32434489, 10)

Dimensions are identical with dimensions of df_merged_large in Script '4.6 Combining and exporting data_Lesson'

# 04 Merging data

In [10]:
# Dropping old merge flag from df_orders_products_combined
df_orders_products_combined.drop(columns = '_merge', inplace = True)

In [11]:
# Checking prepared df_orders_products_combined I
df_orders_products_combined.head()

,order_id,user_id,order_sequence_per_user,order_day_of_the_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,0.0,196,1,0
1,2539329,1,1,2,8,0.0,14084,2,0
2,2539329,1,1,2,8,0.0,12427,3,0
3,2539329,1,1,2,8,0.0,26088,4,0
4,2539329,1,1,2,8,0.0,26405,5,0

In [12]:
# Checking prepared df_orders_products_combined II
df_orders_products_combined.shape

(32434489, 9)

In [13]:
# Merging df_prods with df_orders_products_combined
df_orders_products_merged = df_prods.merge(df_orders_products_combined, on = 'product_id', indicator=True)

In [14]:
# Checking df_orders_products_merged I
df_orders_products_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_sequence_per_user,order_day_of_the_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,0.0,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both

In [15]:
# Checking df_orders_products_merged II
df_orders_products_merged.shape

(32404859, 14)

In [ ]:
# Checking df_orders_products_merged III with outer join for control
df_orders_products_merged_control = df_prods.merge(df_orders_products_combined, on = 'product_id', how = 'outer', indicator=True)

In [ ]:
# Checking df_orders_products_merged_control I
df_orders_products_merged_control.head()

In [ ]:
# Checking df_orders_products_merged_control II
df_orders_products_merged_control.shape

In [ ]:
# Checking df_orders_products_merged_control III
df_orders_products_merged_control['_merge'].value_counts()

From the various checks it is visible that there's no full match between the datasets. For the purpose of the remaining analysis it is important to work with complete data where no information on either products or orders is missing. Hence the dataframe df_orders_products_merged is exported for further use in the analysis.

# 05 Exporting data

In [ ]:
# Exporting dataframe with only full matches between products and orders
df_orders_products_merged.to_pickle(os.path.join(path, '02 Data', '02 Prepared data', 'orders_products_merged.pkl'))