# Table of contents

## 01 Importing libraries

## 02 Importing data

## 03 Deriving new variables with if-statements
### 03.1 If-statements with user-defined variables
### 03.2 If-statements with the loc() function
### 03.3 If-statements with for-loops

## 04 Task
### 04.1 Step 2: Flagging the two busiest/least busy days of the week
### 04.2 Step 3: Accuracy check and observations
### 04.3 Step 4: Identifying the busiest hours of the day
### 04.4 Step 5: Printing frequency for Busiest_period_of_day
### 04.5 Step 7: Exporting dataframe with new columns

# 01 Importing libraries

In [2]:
# Importing pandas, NumPy and os
import pandas as pd
import numpy as np
import os

# 02 Importing data

In [3]:
# Defining path variable
path = r'/Users/DanielaDietmayr/Library/CloudStorage/OneDrive-Personal/2023-01-18 Instacart basket analysis'

In [4]:
# Importing Instacart data
df_deps = pd.read_csv(os.path.join(path, '02 Data', '02 Prepared data', 'departments_wrangled.csv'), index_col=False)
df_ords_prods = pd.read_pickle(os.path.join(path, '02 Data', '02 Prepared data', 'orders_products_merged.pkl'))

In [5]:
# Checking df_deps
df_deps

    Unnamed: 0       department
0            1           frozen
1            2            other
2            3           bakery
3            4          produce
4            5          alcohol
5            6    international
6            7        beverages
7            8             pets
8            9  dry goods pasta
9           10             bulk
10          11    personal care
11          12     meat seafood
12          13           pantry
13          14        breakfast
14          15     canned goods
15          16       dairy eggs
16          17        household
17          18           babies
18          19           snacks
19          20             deli
20          21          missing

In [6]:
# Checking df_ords_prods I
df_ords_prods.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_sequence_per_user,order_day_of_the_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,0.0,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both

In [7]:
# Checking df_ords_prods II
df_ords_prods.shape

(32404859, 14)

# 03 Deriving new variables with if-statements

## 03.1 If-statements with user-defined variables

In [8]:
# Defining a function
def add_num(x,y):
    sum=x+y
    return sum

In [9]:
# Testing defined function
add_num(9,11)

20

In [10]:
# Creation of subset to df_ords_prods for test purposes
df = df_ords_prods[:1000000]

In [11]:
# Checking subset
df.shape

(1000000, 14)

In [12]:
# Defining function for a price range label

def price_label(row):
    
    if row['prices'] <= 5:
        return 'low-range product'
    elif (row['prices'] > 5 and row['prices'] <= 15):
        return 'mid-range product'
    elif row['prices'] > 15:
        return 'high-range product'
    else: return 'Not enough data'

In [13]:
# Applying function for price range label
df['price_range'] = df.apply(price_label, axis=1)

/var/folders/xf/prw7mx913rn2xzxlywvr1_jc0000gn/T/ipykernel_23180/4248445722.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['price_range'] = df.apply(price_label, axis=1)

In [14]:
# Checking application of function I
df.shape

(1000000, 15)

In [15]:
# Checking application of function II
df.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_sequence_per_user,order_day_of_the_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,mid-range product
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,mid-range product
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,mid-range product
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,0.0,10,0,both,mid-range product
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,mid-range product

In [16]:
# Checking label count I
df['price_range'].value_counts()

mid-range product     652638
low-range product     338018
high-range product      9344
Name: price_range, dtype: int64

In [17]:
# Checking label count II
df['price_range'].value_counts(dropna=False)

mid-range product     652638
low-range product     338018
high-range product      9344
Name: price_range, dtype: int64

Labels have been assigned to each row, no NaN values in new column price_range.

In [18]:
# Finding highest price in subset
df['prices'].max()

24.5

## 03.2 If-statements with the loc() function

In [19]:
# Defining condition I
df.loc[df['prices']<= 5, 'price_range_loc'] = 'Low-range product'

/var/folders/xf/prw7mx913rn2xzxlywvr1_jc0000gn/T/ipykernel_23180/1730697171.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[df['prices']<= 5, 'price_range_loc'] = 'Low-range product'

In [20]:
# Defining condition II
df.loc[(df['prices'] > 5) & (df['prices'] <= 15), 'price_range_loc'] = 'Mid-range product'

In [21]:
# Defining condition III
df.loc[df['prices'] > 15, 'price_range_loc'] = 'High-range product'

In [22]:
# Checking result of label created with loc() function
df['price_range_loc'].value_counts ()

Mid-range product     652638
Low-range product     338018
High-range product      9344
Name: price_range_loc, dtype: int64

Result is identical to result from if-statement with user-defined function.

In [23]:
# Checking subset
df.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_sequence_per_user,order_day_of_the_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range,price_range_loc
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,mid-range product,Mid-range product
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,mid-range product,Mid-range product
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,mid-range product,Mid-range product
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,0.0,10,0,both,mid-range product,Mid-range product
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,mid-range product,Mid-range product

In [24]:
# Defining condition I for full dataset
df_ords_prods.loc[df_ords_prods['prices']<=5, 'price_range_loc'] = 'Low-range product'

In [25]:
# Defining condition II for full dataset
df_ords_prods.loc[(df_ords_prods['prices']>5) & (df_ords_prods['prices']<=15), 'price_range_loc'] = 'Mid-range product'

In [26]:
# Defining condition III for full dataset
df_ords_prods.loc[df_ords_prods['prices']>15, 'price_range_loc'] = 'High-range product'

In [27]:
# Checking label counts
df_ords_prods['price_range_loc'].value_counts(dropna=False)

Mid-range product     21860860
Low-range product     10126321
High-range product      417678
Name: price_range_loc, dtype: int64

In [28]:
# Checking df_ords_prods with new column price_range_loc
df_ords_prods.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_sequence_per_user,order_day_of_the_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,Mid-range product
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,Mid-range product
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,Mid-range product
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,0.0,10,0,both,Mid-range product
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,Mid-range product

## 03.3 If-statements with for-loops

In [29]:
# For-loop example
for x in range (30,45):
    print ('My age is %d' %(x))

My age is 30
My age is 31
My age is 32
My age is 33
My age is 34
My age is 35
My age is 36
My age is 37
My age is 38
My age is 39
My age is 40
My age is 41
My age is 42
My age is 43
My age is 44

In [30]:
# Checking frequency of values in order_day_of_the_week (finding busiest day)
df_ords_prods['order_day_of_the_week'].value_counts(dropna=False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_day_of_the_week, dtype: int64

In [31]:
# For-loop to flag business for each day

result = []

for value in df_ords_prods['order_day_of_the_week']:
    if value == 0:
        result.append('Busiest day')
    elif value == 4:
        result.append('Least busy')
    else:
        result.append('Regularly busy')

In [32]:
# Creating new column in df_ords_prods
df_ords_prods['Busiest_day'] = result

In [33]:
# Checking df_ords_prods
df_ords_prods.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_sequence_per_user,order_day_of_the_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,Busiest_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,Mid-range product,Regularly busy
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,Mid-range product,Regularly busy
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,Mid-range product,Busiest day
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,0.0,10,0,both,Mid-range product,Regularly busy
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,Mid-range product,Least busy

In [34]:
# Checking frequency of values for column Busiest_day
df_ords_prods['Busiest_day'].value_counts(dropna=False)

Regularly busy    22416875
Busiest day        6204182
Least busy         3783802
Name: Busiest_day, dtype: int64

Result is identical with frequency of 0 (Saturday) and 4 (Wednesday) found earlier.

# 04 Task

## 04.1 Step 2: Flagging the two busiest/least busy days of the week

In [36]:
# Checking frequency for order_day_of_the week
df_ords_prods['order_day_of_the_week'].value_counts(dropna=False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_day_of_the_week, dtype: int64

The two busiest days of the week are Saturday (0) and Sunday (1). The two least busy days are Tuesday (3) and Wednesday (4).

In [52]:
# Creating a list with business-labels

result_business = []

for value in df_ords_prods['order_day_of_the_week']:
    if value in (0,1):
        result_business.append('Busiest two days')
    elif value in (3,4):
        result_business.append('Least busy two days')
    else:
        result_business.append('Average busy days')

In [55]:
# Creating new column with business-label in df_prods_ords
df_ords_prods['Busiest_days'] = result_business

In [56]:
# Checking df_ords_prods with new column
df_ords_prods.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_sequence_per_user,order_day_of_the_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,Busiest_day,Busiest_days
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,Mid-range product,Regularly busy,Average busy days
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,Mid-range product,Regularly busy,Average busy days
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,Mid-range product,Busiest day,Busiest two days
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,0.0,10,0,both,Mid-range product,Regularly busy,Least busy two days
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,Mid-range product,Least busy,Least busy two days

## 04.2 Step 3: Accuracy check and observations

In [58]:
# Checking frequency of values in Busiest_days
df_ords_prods['Busiest_days'].value_counts(dropna=False)

Average busy days      12916111
Busiest two days       11864412
Least busy two days     7624336
Name: Busiest_days, dtype: int64

In [59]:
# Checking frequency of values in order_day_of_the_week
df_ords_prods['order_day_of_the_week'].value_counts(dropna=False)

0    6204182
1    5660230
6    4496490
2    4213830
5    4205791
3    3840534
4    3783802
Name: order_day_of_the_week, dtype: int64

Sum of frequency for 0 and 1 equal busiest two days, sum of frequency for 3 and 4 equal least busy two days. Hence, new label for Busiest_days is accurate.

## 04.3 Step 4: Identifying the busiest hours of the day

In [60]:
# Checking frequency for order_hour_of_day
df_ords_prods['order_hour_of_day'].value_counts(dropna=False)

10    2761760
11    2736140
14    2689136
15    2662144
13    2660954
12    2618532
16    2535202
9     2454203
17    2087654
8     1718118
18    1636502
19    1258305
20     976156
7      891054
21     795637
22     634225
23     402316
6      290493
0      218769
1      115700
5       87961
2       69375
4       53242
3       51281
Name: order_hour_of_day, dtype: int64

The busiest hour of the day is 10-11, the least busy hour of the day is 3-4.

In [62]:
# Creating list with labels for business per hour

result_business_hours = []

for value in df_ords_prods['order_hour_of_day']:
    if value == 10:
        result_business_hours.append('Most orders')
    elif value == 3:
        result_business_hours.append('Fewest orders')
    else:
        result_business_hours.append('Average orders')

In [63]:
# Creating column Busiest_period_of_day in df_ords_prods
df_ords_prods['Busiest_period_of_day'] = result_business_hours

In [64]:
# Checking df_ords_prods with new column
df_ords_prods.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_sequence_per_user,order_day_of_the_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,Busiest_day,Busiest_days,Busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,Mid-range product,Regularly busy,Average busy days,Average orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,Mid-range product,Regularly busy,Average busy days,Average orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,Mid-range product,Busiest day,Busiest two days,Average orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,0.0,10,0,both,Mid-range product,Regularly busy,Least busy two days,Average orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,Mid-range product,Least busy,Least busy two days,Average orders

## 04.4 Step 5: Printing frequency for Busiest_period_of_day

In [65]:
# Frequency Busiest_period_of_day
df_ords_prods['Busiest_period_of_day'].value_counts(dropna=False)

Average orders    29591818
Most orders        2761760
Fewest orders        51281
Name: Busiest_period_of_day, dtype: int64

## 04.5 Step 7: Exporting dataframe with new columns

In [66]:
# Exporting df_ords_prods as orders_products_analysed.pkl
df_ords_prods.to_pickle(os.path.join(path, '02 Data', '02 Prepared data', 'orders_products_analysed.pkl'))